NODE_ENV=development
PORT=8000
# DATABASE=mongodb+srv://saurabh:saurabh@cluster0.lj0zerr.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DATABASE=mongodb://127.0.0.1:27017/Shiksha-Dost-Backend

JWT_SECRET=secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=16c7447244d76f 
EMAIL_PASSWORD=4cda7a067b9f1d 
EMAIL_HOST=pop3.mailtrap.io
EMAIL_PORT=9950
MAIL_SENDER_DEFAULT=saurbhbailara@gmail.com


RAZORPAY_KEY_ID=rzp_test_OGjZKQ5RBNqLXr
RAZORPAY_KEY_SECRET=BzzTz2zelDpPGaimxIaStJL1